<div class="container-fluid">
  <h1 class="page-header">My Tip Results</h1>
  <p>A result of your tips for the season.</p>
</div>

<div class="table-responsive col-md-5">
    <table class="table table-striped" role="grid">
      <thead>
        <tr>
          <th>Round no</th>
          <th>Circuit Name</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <% @rounds.each do |round| %>
          <tr>
            <td><%= round.round_number %></td>
            <td><%= link_to round.circuit.name, round %></td>
            <td><%= round.calulate_round_points(@user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>